In [1]:
import numpy as np
import matplotlib.pyplot as plt
from rich.table import Table
from rich import print as rptint
import json
import os
import pandas as pd

scenario_name = "CWE-89-SQL-injection"
TIME_PERIOD = 1
TIME_INTERVAL = '1MS'
save_file_path = os.path.join('K:/hids/LID-DS-master/tools/out', scenario_name)

获取数据

In [2]:
test_normal_df = pd.read_pickle(os.path.join(save_file_path,  'DF_test_normal.pkl'))
test_exploit_df = pd.read_pickle(os.path.join(save_file_path, 'DF_test_exploit.pkl'))

In [15]:
has_arg_df = test_normal_df[test_normal_df['ARGS'].isna() == False]

In [19]:
has_arg_df

,time,UserID,PID,ProcessName,TID,syscall,DIR,ARGS
0,1631083490806378308,101,3861861,mysqld,3862354,select,<,res=0
2,1631083490806627721,101,3861861,mysqld,3862355,select,<,res=0
4,1631083490812467214,101,3861861,mysqld,3862357,select,<,res=0
26,1631083491296433028,33,3862925,apache2,3862925,poll,<,res=1
27,1631083491296435798,33,3862925,apache2,3862925,read,>,fd=10(<4t>192.168.128.2:36280->192.168.128.10:80)
...,...,...,...,...,...,...,...,...
3857206,1631054137372659043,33,3256522,apache2,3256522,writev,<,res=2461
3857207,1631054137372663744,33,3256522,apache2,3256522,write,>,fd=7(<f>/var/log/apache2/access.log)
3857208,1631054137372668967,33,3256522,apache2,3256522,write,<,res=257
3857211,1631054137372673413,33,3256522,apache2,3256522,poll,>,fds=10:41
3857220,1631054137653835148,0,3256458,apache2,3256458,select,<,res=0