In [1]:
import numpy as np
import pandas as pd
import json
import os
import zipfile
import pickle
import networkx as nx

In [36]:
apache2_scg = nx.read_multiline_adjlist("K:/hids/LID-DS-master/tools/out/CWE-89-SQL-injection/SCG_BOTH/mysqld_scg", delimiter='|', create_using=nx.DiGraph)

# with zipfile.ZipFile('K:/hids/dataSet/CWE-89-SQL-injection_raw/test/normal/handsome_herschel_1484.zip', 'r') as zipped:
#     with zipped.open('handsome_herschel_1484' + '.sc') as unzipped:
#         df = pd.read_csv(unzipped, delim_whitespace = True, index_col=False, names = ['time','UserID', 'PID', 'ProcessName', 'TID', 'syscall', 'DIR', 'ARGS'])

In [134]:
one_scg = nx.read_multiline_adjlist("K:/hids/dataSet/GP_DATA_DIR/CWE-89-SQL-injection/test_2s/abundant_taussig_9121/SCG/1631083491518251782_mysqld_scg", delimiter='|', create_using=nx.DiGraph)

In [121]:
result_df = pd.DataFrame(columns=['time', 'Amax1', 'Amax2', 'Amax3', 'Amax4', 'Amax5', 'max1', 'max2', 'max3', 'max4', 'max5', '1', '2', '3', '4', '5'])
#dir = 'K:/hids/dataSet/GP_DATA_DIR/CWE-89-SQL-injection/training/abundant_taussig_9121/SCG'
dir = 'K:/hids/dataSet/GP_DATA_DIR/CWE-89-SQL-injection/test_2s/abundant_taussig_9121/SCG'
for item in os.scandir(dir):
    if 'mysqld' in item.name:
        one_scg = nx.read_multiline_adjlist(os.path.join(dir, item.name), delimiter='|', create_using=nx.DiGraph)
        edge_df = pd.DataFrame(columns=[0, 1])
        for (u, v, wt) in one_scg.edges.data('f'):
            if wt > 2:
                if apache2_scg.has_edge(u, v):
                    edge_df.loc[len(edge_df.index)] = [apache2_scg.edges[u, v]["f"], wt]
                else:
                    print(f'mysqld has not age {u} to {v} wt {wt}')

        largest = 5 if len(edge_df) > 5 else len(edge_df)
        new_line = [item.name]

        if largest > 0:
            a = [0] * 5
            b = edge_df[0].astype(int).nlargest(largest).tolist()
            for i in range(largest):
                a[i] = b[i]
            new_line.extend(a)

            a = [0] * 5
            b = edge_df[1].astype(int).nlargest(largest).tolist()
            for i in range(largest):
                a[i] = b[i]
            new_line.extend(a)

            a = [0] * 5
            b = list(edge_df[0].astype(int).nlargest(5).index == edge_df[1].astype(int).nlargest(5).index)
            for i in range(largest):
                a[i] = b[i]
            new_line.extend(a)

            result_df.loc[len(result_df.index)] =  new_line

mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (33, 0) to (33, 0) wt 10
mysqld has not age (33, 0) to (0, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 3
mysqld has not age (0, 0) to (0, 0) wt 5
mysqld has not age (10, 0) to (10, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 21
mysqld has not age (49, 1) to (49, 0) wt 18
mysqld has not age (53, 0) to (51, 0) wt 6
mysqld has not age (43, 1) to (33, 0) wt 4
mysqld has not age (33, 0) to (33, 0) wt 80
mysqld has not age (33, 0) to (33, -2) wt 8
mysqld has not age (33, 0) to (0, 0) wt 24
mysqld has not age (33, 0) to (51, 0) wt 8
mysqld has not age (12, 0) to (33, 0) wt 16
mysqld has not age (12, 0) to (51, 0) wt 8
mysqld has not age (51, 0) to (51, 1) wt 24
mysqld has not age (33, -2) to (10, 0) wt 8
mysqld has not age (0, 0) to (0, 0) wt 40
mysqld has not age (0, 0) to (12, 0) wt 8
mysqld has not age (0, 0) to (33, 0) wt 8
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 4
mysqld has not age (10, 0) to (10, 0) wt 24
mysqld has not age (10, 0) to (49, 0) wt 8
mysqld has not age (10, 0) to (13, 0) wt 8
mysqld has not age (10, 0) to (6, 0) wt 8
mysqld has not age (49, 0) to (49, 1) wt 130
mysqld has not age (13, 0) to (13, 1) wt 16
mysqld has not age (13, 0) to (13, 0) wt 8
mysqld has not age (13, 0) to (49, 0) wt 8
mysqld has not age (6, 0) to (6, 0) wt 8
mysqld has not age (6, 0) to (53, 0) wt 7
mysqld has not age (49, 1) to (49, 0) wt 106
mysqld has not age (49, 1) to (13, 0) wt 8
mysqld has not age (49, 1) to (47, 0) wt 8
mysqld has not age (49, 1) to (12, 0) wt 8
mysqld has not age (13, 1) to (10, 0) wt 8
mysqld has not age (13, 1) to (49, 0) wt 8
mysqld has not age (47, 1) to (13, 0) wt 8
mysqld has not age (47, 1) to (12, 0) wt 8
mysqld has not age (51, 1) to (33, 0) wt 10
mysqld has not age (51, 1) to (10, 0) wt 8
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (53, 0) to (51, 0) wt 7
mysqld has not age (43, 1) to (33, 0) wt 7
mysqld has not age (33, 0) to (33, 0) wt 110
mysqld has not age (33, 0) to (33, -2) wt 11
mysqld has not age (33, 0) to (0, 0) wt 33
mysqld has not age (33, 0) to (51, 0) wt 11
mysqld has not age (10, 0) to (10, 0) wt 35
mysqld has not age (10, 0) to (49, 0) wt 11
mysqld has not age (10, 0) to (13, 0) wt 11
mysqld has not age (10, 0) to (6, 0) wt 11
mysqld has not age (12, 0) to (33, 0) wt 22
mysqld has not age (12, 0) to (51, 0) wt 11
mysqld has not age (51, 0) to (51, 1) wt 31
mysqld has not age (33, -2) to (10, 0) wt 11
mysqld has not age (0, 0) to (0, 0) wt 57
mysqld has not age (0, 0) to (12, 0) wt 13
mysqld has not age (0, 0) to (33, 0) wt 11
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 7
mysqld has not age (49, 0) to (49, 1) wt 214
mysqld has not age (13, 0) to (13, 1) wt 22
mysqld has not age (13, 0) to (13, 0) wt 11
mysqld has not age (13, 0) to (49, 0) wt 11
mysqld has not age (6, 0) to (6, 0) wt 11
mysqld has not age (6, 0) to (53, 0) wt 8
mysqld has not age (49, 1) to (49, 0) wt 181
mysqld has not age (49, 1) to (13, 0) wt 11
mysqld has not age (49, 1) to (47, 0) wt 11
mysqld has not age (49, 1) to (12, 0) wt 11
mysqld has not age (13, 1) to (10, 0) wt 11
mysqld has not age (13, 1) to (49, 0) wt 11
mysqld has not age (47, 1) to (13, 0) wt 11
mysqld has not age (47, 1) to (12, 0) wt 9
mysqld has not age (51, 1) to (33, 0) wt 13
mysqld has not age (51, 1) to (10, 0) wt 11
mysqld has not age (51, 1) to (47, 0) wt 3
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (53, 0) to (51, 0) wt 7
mysqld has not age (43, 1) to (33, 0) wt 8
mysqld has not age (33, 0) to (33, 0) wt 120
mysqld has not age (33, 0) to (33, -2) wt 12
mysqld has not age (33, 0) to (0, 0) wt 36
mysqld has not age (33, 0) to (51, 0) wt 12
mysqld has not age (10, 0) to (10, 0) wt 38
mysqld has not age (10, 0) to (49, 0) wt 12
mysqld has not age (10, 0) to (13, 0) wt 12
mysqld has not age (10, 0) to (6, 0) wt 12
mysqld has not age (12, 0) to (33, 0) wt 24
mysqld has not age (12, 0) to (51, 0) wt 12
mysqld has not age (51, 0) to (51, 1) wt 34
mysqld has not age (33, -2) to (10, 0) wt 12
mysqld has not age (0, 0) to (0, 0) wt 62
mysqld has not age (0, 0) to (12, 0) wt 14
mysqld has not age (0, 0) to (33, 0) wt 12
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 8
mysqld has not age (49, 0) to (49, 1) wt 242
mysqld has not age (13, 0) to (13, 1) wt 24
mysqld has not age (13, 0) to (13, 0) wt 12
mysqld has not age (13, 0) to (49, 0) wt 12
mysqld has not age (6, 0) to (6, 0) wt 12
mysqld has not age (6, 0) to (53, 0) wt 8
mysqld has not age (49, 1) to (49, 0) wt 206
mysqld has not age (49, 1) to (13, 0) wt 12
mysqld has not age (49, 1) to (47, 0) wt 12
mysqld has not age (49, 1) to (12, 0) wt 12
mysqld has not age (13, 1) to (10, 0) wt 12
mysqld has not age (13, 1) to (49, 0) wt 12
mysqld has not age (47, 1) to (13, 0) wt 12
mysqld has not age (47, 1) to (12, 0) wt 10
mysqld has not age (51, 1) to (33, 0) wt 14
mysqld has not age (51, 1) to (10, 0) wt 12
mysqld has not age (51, 1) to (47, 0) wt 4
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (53, 0) to (51, 0) wt 7
mysqld has not age (43, 1) to (33, 0) wt 8
mysqld has not age (33, 0) to (33, 0) wt 120
mysqld has not age (33, 0) to (33, -2) wt 12
mysqld has not age (33, 0) to (0, 0) wt 36
mysqld has not age (33, 0) to (51, 0) wt 12
mysqld has not age (10, 0) to (10, 0) wt 38
mysqld has not age (10, 0) to (49, 0) wt 12
mysqld has not age (10, 0) to (13, 0) wt 12
mysqld has not age (10, 0) to (6, 0) wt 12
mysqld has not age (12, 0) to (33, 0) wt 24
mysqld has not age (12, 0) to (51, 0) wt 12
mysqld has not age (51, 0) to (51, 1) wt 34
mysqld has not age (33, -2) to (10, 0) wt 12
mysqld has not age (0, 0) to (0, 0) wt 62
mysqld has not age (0, 0) to (12, 0) wt 14
mysqld has not age (0, 0) to (33, 0) wt 12
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 8
mysqld has not age (49, 0) to (49, 1) wt 242
mysqld has not age (13, 0) to (13, 1) wt 24
mysqld has not age (13, 0) to (13, 0) wt 12
mysqld has not age (13, 0) to (49, 0) wt 12
mysqld has not age (6, 0) to (6, 0) wt 12
mysqld has not age (6, 0) to (53, 0) wt 8
mysqld has not age (49, 1) to (49, 0) wt 206
mysqld has not age (49, 1) to (13, 0) wt 12
mysqld has not age (49, 1) to (47, 0) wt 12
mysqld has not age (49, 1) to (12, 0) wt 12
mysqld has not age (13, 1) to (10, 0) wt 12
mysqld has not age (13, 1) to (49, 0) wt 12
mysqld has not age (47, 1) to (13, 0) wt 12
mysqld has not age (47, 1) to (12, 0) wt 10
mysqld has not age (51, 1) to (33, 0) wt 14
mysqld has not age (51, 1) to (10, 0) wt 12
mysqld has not age (51, 1) to (47, 0) wt 4
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (53, 0) to (51, 0) wt 7
mysqld has not age (43, 1) to (33, 0) wt 8
mysqld has not age (33, 0) to (33, 0) wt 120
mysqld has not age (33, 0) to (33, -2) wt 12
mysqld has not age (33, 0) to (0, 0) wt 36
mysqld has not age (33, 0) to (51, 0) wt 12
mysqld has not age (10, 0) to (10, 0) wt 38
mysqld has not age (10, 0) to (49, 0) wt 12
mysqld has not age (10, 0) to (13, 0) wt 12
mysqld has not age (10, 0) to (6, 0) wt 12
mysqld has not age (12, 0) to (33, 0) wt 24
mysqld has not age (12, 0) to (51, 0) wt 12
mysqld has not age (51, 0) to (51, 1) wt 34
mysqld has not age (33, -2) to (10, 0) wt 12
mysqld has not age (0, 0) to (0, 0) wt 62
mysqld has not age (0, 0) to (12, 0) wt 14
mysqld has not age (0, 0) to (33, 0) wt 12
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 8
mysqld has not age (49, 0) to (49, 1) wt 242
mysqld has not age (13, 0) to (13, 1) wt 24
mysqld has not age (13, 0) to (13, 0) wt 12
mysqld has not age (13, 0) to (49, 0) wt 12
mysqld has not age (6, 0) to (6, 0) wt 12
mysqld has not age (6, 0) to (53, 0) wt 8
mysqld has not age (49, 1) to (49, 0) wt 206
mysqld has not age (49, 1) to (13, 0) wt 12
mysqld has not age (49, 1) to (47, 0) wt 12
mysqld has not age (49, 1) to (12, 0) wt 12
mysqld has not age (13, 1) to (10, 0) wt 12
mysqld has not age (13, 1) to (49, 0) wt 12
mysqld has not age (47, 1) to (13, 0) wt 12
mysqld has not age (47, 1) to (12, 0) wt 10
mysqld has not age (51, 1) to (33, 0) wt 14
mysqld has not age (51, 1) to (10, 0) wt 12
mysqld has not age (51, 1) to (47, 0) wt 4
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (53, 0) to (51, 0) wt 7
mysqld has not age (43, 1) to (33, 0) wt 8
mysqld has not age (33, 0) to (33, 0) wt 120
mysqld has not age (33, 0) to (33, -2) wt 12
mysqld has not age (33, 0) to (0, 0) wt 36
mysqld has not age (33, 0) to (51, 0) wt 12
mysqld has not age (10, 0) to (10, 0) wt 38
mysqld has not age (10, 0) to (49, 0) wt 12
mysqld has not age (10, 0) to (13, 0) wt 12
mysqld has not age (10, 0) to (6, 0) wt 12
mysqld has not age (12, 0) to (33, 0) wt 24
mysqld has not age (12, 0) to (51, 0) wt 12
mysqld has not age (51, 0) to (51, 1) wt 34
mysqld has not age (33, -2) to (10, 0) wt 12
mysqld has not age (0, 0) to (0, 0) wt 62
mysqld has not age (0, 0) to (12, 0) wt 14
mysqld has not age (0, 0) to (33, 0) wt 12
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 8
mysqld has not age (49, 0) to (49, 1) wt 242
mysqld has not age (13, 0) to (13, 1) wt 24
mysqld has not age (13, 0) to (13, 0) wt 12
mysqld has not age (13, 0) to (49, 0) wt 12
mysqld has not age (6, 0) to (6, 0) wt 12
mysqld has not age (6, 0) to (53, 0) wt 8
mysqld has not age (49, 1) to (49, 0) wt 206
mysqld has not age (49, 1) to (13, 0) wt 12
mysqld has not age (49, 1) to (47, 0) wt 12
mysqld has not age (49, 1) to (12, 0) wt 12
mysqld has not age (13, 1) to (10, 0) wt 12
mysqld has not age (13, 1) to (49, 0) wt 12
mysqld has not age (47, 1) to (13, 0) wt 12
mysqld has not age (47, 1) to (12, 0) wt 10
mysqld has not age (51, 1) to (33, 0) wt 14
mysqld has not age (51, 1) to (10, 0) wt 12
mysqld has not age (51, 1) to (47, 0) wt 4
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (53, 0) to (51, 0) wt 7
mysqld has not age (43, 1) to (33, 0) wt 8
mysqld has not age (33, 0) to (33, 0) wt 120
mysqld has not age (33, 0) to (33, -2) wt 12
mysqld has not age (33, 0) to (0, 0) wt 36
mysqld has not age (33, 0) to (51, 0) wt 12
mysqld has not age (10, 0) to (10, 0) wt 38
mysqld has not age (10, 0) to (49, 0) wt 12
mysqld has not age (10, 0) to (13, 0) wt 12
mysqld has not age (10, 0) to (6, 0) wt 12
mysqld has not age (12, 0) to (33, 0) wt 24
mysqld has not age (12, 0) to (51, 0) wt 12
mysqld has not age (51, 0) to (51, 1) wt 34
mysqld has not age (33, -2) to (10, 0) wt 12
mysqld has not age (0, 0) to (0, 0) wt 62
mysqld has not age (0, 0) to (12, 0) wt 14
mysqld has not age (0, 0) to (33, 0) wt 12
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 8
mysqld has not age (49, 0) to (49, 1) wt 242
mysqld has not age (13, 0) to (13, 1) wt 24
mysqld has not age (13, 0) to (13, 0) wt 12
mysqld has not age (13, 0) to (49, 0) wt 12
mysqld has not age (6, 0) to (6, 0) wt 12
mysqld has not age (6, 0) to (53, 0) wt 8
mysqld has not age (49, 1) to (49, 0) wt 206
mysqld has not age (49, 1) to (13, 0) wt 12
mysqld has not age (49, 1) to (47, 0) wt 12
mysqld has not age (49, 1) to (12, 0) wt 12
mysqld has not age (13, 1) to (10, 0) wt 12
mysqld has not age (13, 1) to (49, 0) wt 12
mysqld has not age (47, 1) to (13, 0) wt 12
mysqld has not age (47, 1) to (12, 0) wt 10
mysqld has not age (51, 1) to (33, 0) wt 14
mysqld has not age (51, 1) to (10, 0) wt 12
mysqld has not age (51, 1) to (47, 0) wt 4
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (53, 0) to (51, 0) wt 7
mysqld has not age (43, 1) to (33, 0) wt 8
mysqld has not age (33, 0) to (33, 0) wt 120
mysqld has not age (33, 0) to (33, -2) wt 12
mysqld has not age (33, 0) to (0, 0) wt 36
mysqld has not age (33, 0) to (51, 0) wt 12
mysqld has not age (10, 0) to (10, 0) wt 38
mysqld has not age (10, 0) to (49, 0) wt 12
mysqld has not age (10, 0) to (13, 0) wt 12
mysqld has not age (10, 0) to (6, 0) wt 12
mysqld has not age (12, 0) to (33, 0) wt 24
mysqld has not age (12, 0) to (51, 0) wt 12
mysqld has not age (51, 0) to (51, 1) wt 34
mysqld has not age (33, -2) to (10, 0) wt 12
mysqld has not age (0, 0) to (0, 0) wt 62
mysqld has not age (0, 0) to (12, 0) wt 14
mysqld has not age (0, 0) to (33, 0) wt 12
mysqld has not age (0, 0) to (47, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 8
mysqld has not age (49, 0) to (49, 1) wt 242
mysqld has not age (13, 0) to (13, 1) wt 24
mysqld has not age (13, 0) to (13, 0) wt 12
mysqld has not age (13, 0) to (49, 0) wt 12
mysqld has not age (6, 0) to (6, 0) wt 12
mysqld has not age (6, 0) to (53, 0) wt 8
mysqld has not age (49, 1) to (49, 0) wt 206
mysqld has not age (49, 1) to (13, 0) wt 12
mysqld has not age (49, 1) to (47, 0) wt 12
mysqld has not age (49, 1) to (12, 0) wt 12
mysqld has not age (13, 1) to (10, 0) wt 12
mysqld has not age (13, 1) to (49, 0) wt 12
mysqld has not age (47, 1) to (13, 0) wt 12
mysqld has not age (47, 1) to (12, 0) wt 10
mysqld has not age (51, 1) to (33, 0) wt 14
mysqld has not age (51, 1) to (10, 0) wt 12
mysqld has not age (51, 1) to (47, 0) wt 4
mysqld has not age (51, 1) to (53, 0) wt 3
mysqld has not age (43, 1) to (33, 0) wt 4
mysqld has not age (33, 0) to (33, 0) wt 40
mysqld has not age (33, 0) to (33, -2) wt 4
mysqld has not age (33, 0) to (0, 0) wt 12
mysqld has not age (33, 0) to (51, 0) wt 4
mysqld has not age (10, 0) to (10, 0) wt 14
mysqld has not age (10, 0) to (49, 0) wt 4
mysqld has not age (10, 0) to (13, 0) wt 4
mysqld has not age (10, 0) to (6, 0) wt 4
mysqld has not age (12, 0) to (33, 0) wt 8
mysqld has not age (12, 0) to (51, 0) wt 4
mysqld has not age (51, 0) to (51, 1) wt 10
mysqld has not age (33, -2) to (10, 0) wt 4
mysqld has not age (0, 0) to (0, 0) wt 22
mysqld has not age (0, 0) to (12, 0) wt 6
mysqld has not age (0, 0) to (33, 0) wt 4
mysqld has not age (0, 0) to (42, 0) wt 4
mysqld has not age (49, 0) to (49, 1) wt 112
mysqld has not age (13, 0) to (13, 1) wt 8
mysqld has not age (13, 0) to (13, 0) wt 4
mysqld has not age (13, 0) to (49, 0) wt 4
mysqld has not age (6, 0) to (6, 0) wt 4
mysqld has not age (49, 1) to (49, 0) wt 100
mysqld has not age (49, 1) to (13, 0) wt 4
mysqld has not age (49, 1) to (47, 0) wt 4
mysqld has not age (49, 1) to (12, 0) wt 4
mysqld has not age (13, 1) to (10, 0) wt 4
mysqld has not age (13, 1) to (49, 0) wt 4
mysqld has not age (47, 1) to (13, 0) wt 4
mysqld has not age (51, 1) to (33, 0) wt 4
mysqld has not age (51, 1) to (10, 0) wt 4
mysqld has not age (43, 1) to (33, 0) wt 3
mysqld has not age (33, 0) to (33, 0) wt 30
mysqld has not age (33, 0) to (33, -2) wt 3
mysqld has not age (33, 0) to (0, 0) wt 9
mysqld has not age (33, 0) to (51, 0) wt 3
mysqld has not age (12, 0) to (33, 0) wt 6
mysqld has not age (12, 0) to (51, 0) wt 3
mysqld has not age (51, 0) to (51, 1) wt 8
mysqld has not age (33, -2) to (10, 0) wt 3
mysqld has not age (0, 0) to (0, 0) wt 15
mysqld has not age (0, 0) to (12, 0) wt 3
mysqld has not age (0, 0) to (33, 0) wt 3
mysqld has not age (0, 0) to (42, 0) wt 3
mysqld has not age (10, 0) to (10, 0) wt 9
mysqld has not age (10, 0) to (49, 0) wt 3
mysqld has not age (10, 0) to (13, 0) wt 3
mysqld has not age (10, 0) to (6, 0) wt 3
mysqld has not age (49, 0) to (49, 1) wt 84
mysqld has not age (13, 0) to (13, 1) wt 6
mysqld has not age (13, 0) to (13, 0) wt 3
mysqld has not age (13, 0) to (49, 0) wt 3
mysqld has not age (6, 0) to (6, 0) wt 3
mysqld has not age (49, 1) to (49, 0) wt 75
mysqld has not age (49, 1) to (13, 0) wt 3
mysqld has not age (49, 1) to (47, 0) wt 3
mysqld has not age (49, 1) to (12, 0) wt 3
mysqld has not age (13, 1) to (10, 0) wt 3
mysqld has not age (13, 1) to (49, 0) wt 3
mysqld has not age (47, 1) to (13, 0) wt 3
mysqld has not age (51, 1) to (33, 0) wt 3
mysqld has not age (51, 1) to (10, 0) wt 3

In [122]:
# result_df.to_csv(os.path.join(dir, 'result_df'))
result_df

,time,Amax1,Amax2,Amax3,Amax4,Amax5,max1,max2,max3,max4,max5,1,2,3,4,5
0,1631083490806378308_mysqld_scg,736112,460090,302238,294457,243717,240,156,101,96,81,True,True,True,True,True
1,1631083491018191952_mysqld_scg,736112,460090,302238,294457,243717,240,156,101,96,81,True,True,True,True,True
2,1631083491257636584_mysqld_scg,736112,460090,302238,294457,243717,240,156,101,96,81,True,True,True,True,True
3,1631083491518251782_mysqld_scg,736112,460090,302238,294457,243717,340,214,140,136,107,True,True,True,True,False
4,1631083491752021515_mysqld_scg,736112,460090,302238,294457,243717,360,228,149,144,114,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1631083520023054379_mysqld_scg,736112,460090,302238,294457,243717,100,71,60,41,40,True,False,False,False,False
119,1631083520272479840_mysqld_scg,736112,460090,302238,294457,243717,100,71,60,41,40,True,False,False,False,False
120,1631083520523228566_mysqld_scg,736112,460090,302238,294457,243717,100,71,60,41,40,True,False,False,False,False
121,1631083520752160479_mysqld_scg,736112,460090,302238,294457,243717,160,96,70,65,64,True,True,False,False,False
122,1631083520981141669_mysqld_scg,736112,460090,302238,294457,243717,160,98,71,66,64,True,True,False,False,False

In [123]:
result_df[:56][['1','2','3','4', '5']].value_counts()

1     2      3      4      5
True  True   True   True   True     25
                           False    14
             False  True   False    10
      False  False  False  False     5
      True   False  False  False     1
      False  False  True   False     1
dtype: int64

In [124]:
result_df[56:][['1','2','3','4', '5']].value_counts()

1     2      3      4      5
True  True   True   True   False    29
                           True     20
             False  False  False    10
      False  False  False  False     6
      True   False  False  True      2
dtype: int64

In [135]:
one_scg.number_of_nodes()

22

In [136]:
one_scg.edges().data()

OutEdgeDataView([('(2, 0)', '(2, 0)', {'f': 12}), ('(1, 0)', '(1, 0)', {'f': 71}), ('(36, 1)', '(22, 0)', {'f': 34}), ('(36, 1)', '(43, 0)', {'f': 107}), ('(22, 0)', '(22, 2)', {'f': 34}), ('(22, 0)', '(22, 0)', {'f': 340}), ('(22, 0)', '(20, 0)', {'f': 34}), ('(22, 0)', '(38, 0)', {'f': 34}), ('(43, 0)', '(43, -11)', {'f': 107}), ('(43, 0)', '(43, 1)', {'f': 214}), ('(22, 2)', '(22, 0)', {'f': 34}), ('(20, 0)', '(20, 0)', {'f': 34}), ('(20, 0)', '(22, 0)', {'f': 34}), ('(38, 0)', '(38, 0)', {'f': 136}), ('(38, 0)', '(39, 0)', {'f': 34}), ('(38, 0)', '(42, 0)', {'f': 34}), ('(39, 0)', '(39, 1)', {'f': 34}), ('(39, 0)', '(39, 0)', {'f': 106}), ('(39, 0)', '(40, 0)', {'f': 34}), ('(39, 0)', '(39, -110)', {'f': 2}), ('(42, 0)', '(42, 1)', {'f': 107}), ('(39, 1)', '(36, 0)', {'f': 34}), ('(40, 0)', '(40, 0)', {'f': 34}), ('(40, 0)', '(41, 0)', {'f': 34}), ('(39, -110)', '(39, 0)', {'f': 4}), ('(36, 0)', '(36, 1)', {'f': 140}), ('(41, 0)', '(41, 0)', {'f': 34}), ('(41, 0)', '(38, 0)', {'f': 34}), ('(42, 1)', '(43, 0)', {'f': 107}), ('(43, -11)', '(36, 0)', {'f': 107}), ('(43, 1)', '(43, 0)', {'f': 107}), ('(43, 1)', '(42, 0)', {'f': 37}), ('(43, 1)', '(32, 0)', {'f': 34}), ('(43, 1)', '(45, 0)', {'f': 34}), ('(43, 1)', '(53, 0)', {'f': 2}), ('(32, 0)', '(32, 0)', {'f': 34}), ('(32, 0)', '(42, 0)', {'f': 34}), ('(45, 0)', '(45, 0)', {'f': 34}), ('(45, 0)', '(12, 0)', {'f': 34}), ('(53, 0)', '(53, 0)', {'f': 4}), ('(53, 0)', '(42, 0)', {'f': 2}), ('(12, 0)', '(12, 0)', {'f': 34}), ('(12, 0)', '(39, 0)', {'f': 34})])

In [137]:
apache2_scg.edges().data()

OutEdgeDataView([('(1, 0)', '(1, 0)', {'f': 169967}), ('(1, 0)', '(39, 0)', {'f': 36}), ('(1, 0)', '(56, 0)', {'f': 102}), ('(1, 0)', '(7, 0)', {'f': 3}), ('(1, 0)', '(55, 0)', {'f': 2}), ('(39, 0)', '(39, 1)', {'f': 74177}), ('(39, 0)', '(39, 0)', {'f': 243717}), ('(39, 0)', '(40, 0)', {'f': 73414}), ('(39, 0)', '(39, -11)', {'f': 432}), ('(39, 0)', '(39, -110)', {'f': 9958}), ('(39, 0)', '(32, 0)', {'f': 252}), ('(39, 0)', '(55, 0)', {'f': 76}), ('(39, 0)', '(1, 0)', {'f': 24}), ('(39, 0)', '(2, 0)', {'f': 108}), ('(39, 0)', '(42, 0)', {'f': 256}), ('(39, 0)', '(53, 0)', {'f': 30}), ('(39, 0)', '(45, 0)', {'f': 25}), ('(39, 0)', '(22, 0)', {'f': 18}), ('(39, 0)', '(38, 0)', {'f': 24}), ('(39, 0)', '(60, 0)', {'f': 13}), ('(39, 0)', '(23, 0)', {'f': 14}), ('(39, 0)', '(36, 1)', {'f': 14}), ('(39, 0)', '(43, 0)', {'f': 4}), ('(39, 0)', '(36, 0)', {'f': 8}), ('(39, 0)', '(41, 0)', {'f': 4}), ('(39, 0)', '(39, 2)', {'f': 1}), ('(39, 0)', '(56, 0)', {'f': 1}), ('(56, 0)', '(56, 0)', {'f': 415}), ('(56, 0)', '(47, 0)', {'f': 38}), ('(56, 0)', '(39, 0)', {'f': 146}), ('(56, 0)', '(60, 0)', {'f': 43}), ('(7, 0)', '(7, 1)', {'f': 208}), ('(55, 0)', '(55, 0)', {'f': 568}), ('(55, 0)', '(39, 0)', {'f': 186}), ('(55, 0)', '(56, 0)', {'f': 2}), ('(36, 1)', '(22, 0)', {'f': 73613}), ('(36, 1)', '(43, 0)', {'f': 228736}), ('(22, 0)', '(22, 2)', {'f': 73613}), ('(22, 0)', '(22, 0)', {'f': 736112}), ('(22, 0)', '(20, 0)', {'f': 73613}), ('(22, 0)', '(38, 0)', {'f': 73613}), ('(22, 0)', '(39, 0)', {'f': 18}), ('(43, 0)', '(43, -11)', {'f': 228744}), ('(43, 0)', '(43, 1)', {'f': 460090}), ('(22, 2)', '(22, 0)', {'f': 73613}), ('(20, 0)', '(20, 0)', {'f': 73613}), ('(20, 0)', '(22, 0)', {'f': 73613}), ('(20, 0)', '(36, 1)', {'f': 1}), ('(38, 0)', '(38, 0)', {'f': 294457}), ('(38, 0)', '(39, 0)', {'f': 73499}), ('(38, 0)', '(42, 0)', {'f': 73618}), ('(38, 0)', '(7, 0)', {'f': 114}), ('(42, 0)', '(42, 1)', {'f': 230052}), ('(42, 0)', '(43, 0)', {'f': 1}), ('(39, 1)', '(36, 0)', {'f': 73500}), ('(39, 1)', '(32, 0)', {'f': 15}), ('(39, 1)', '(47, 0)', {'f': 38}), ('(39, 1)', '(39, 0)', {'f': 448}), ('(39, 1)', '(1, 0)', {'f': 118}), ('(39, 1)', '(42, 0)', {'f': 46}), ('(39, 1)', '(53, 0)', {'f': 3}), ('(39, 1)', '(38, 0)', {'f': 7}), ('(39, 1)', '(40, 0)', {'f': 1}), ('(39, 1)', '(2, 0)', {'f': 1}), ('(40, 0)', '(40, 0)', {'f': 73618}), ('(40, 0)', '(41, 0)', {'f': 73618}), ('(39, -11)', '(39, 0)', {'f': 432}), ('(39, -110)', '(39, 0)', {'f': 10532}), ('(32, 0)', '(32, 0)', {'f': 73619}), ('(32, 0)', '(42, 0)', {'f': 73467}), ('(32, 0)', '(32, -2)', {'f': 50}), ('(32, 0)', '(39, 0)', {'f': 152}), ('(2, 0)', '(2, 0)', {'f': 33395}), ('(2, 0)', '(47, 0)', {'f': 43}), ('(2, 0)', '(60, 0)', {'f': 65}), ('(2, 0)', '(55, 0)', {'f': 1}), ('(53, 0)', '(53, 0)', {'f': 4906}), ('(53, 0)', '(42, 0)', {'f': 2568}), ('(53, 0)', '(39, 0)', {'f': 94}), ('(45, 0)', '(45, 0)', {'f': 73610}), ('(45, 0)', '(12, 0)', {'f': 73611}), ('(60, 0)', '(60, 0)', {'f': 1039}), ('(60, 0)', '(55, 0)', {'f': 108}), ('(60, 0)', '(39, 0)', {'f': 13}), ('(23, 0)', '(23, 0)', {'f': 50}), ('(23, 0)', '(32, 0)', {'f': 50}), ('(36, 0)', '(36, 1)', {'f': 302238}), ('(36, 0)', '(39, 0)', {'f': 21}), ('(36, 0)', '(20, 0)', {'f': 1}), ('(41, 0)', '(41, 0)', {'f': 73618}), ('(41, 0)', '(38, 0)', {'f': 73587}), ('(41, 0)', '(39, 0)', {'f': 34}), ('(41, 0)', '(36, 1)', {'f': 1}), ('(39, 2)', '(1, 0)', {'f': 1}), ('(47, 0)', '(47, 1)', {'f': 119}), ('(42, 1)', '(43, 0)', {'f': 230048}), ('(42, 1)', '(39, 0)', {'f': 4}), ('(43, -11)', '(36, 0)', {'f': 228744}), ('(43, 1)', '(43, 0)', {'f': 230045}), ('(43, 1)', '(42, 0)', {'f': 80089}), ('(43, 1)', '(32, 0)', {'f': 73352}), ('(43, 1)', '(45, 0)', {'f': 73586}), ('(43, 1)', '(53, 0)', {'f': 2497}), ('(43, 1)', '(23, 0)', {'f': 36}), ('(43, 1)', '(39, 0)', {'f': 484}), ('(43, 1)', '(55, 0)', {'f': 1}), ('(32, -2)', '(53, 0)', {'f': 38}), ('(32, -2)', '(39, 0)', {'f': 3}), ('(32, -2)', '(42, 0)', {'f': 9}), ('(12, 0)', '(12, 0)', {'f': 73611}), ('(12, 0)', '(39, 0)', {'f': 73428}), ('(12, 0)', '(53, 0)', {'f': 94}), ('(12, 0)', '(40, 0)', {'f': 89}), ('(7, 1)', '(46, 0)', {'f': 114}), ('(7, 1)', '(40, 0)', {'f': 85}), ('(7, 1)', '(15, 0)', {'f': 6}), ('(7, 1)', '(56, 0)', {'f': 3}), ('(46, 0)', '(46, 0)', {'f': 114}), ('(46, 0)', '(3, 0)', {'f': 114}), ('(15, 0)', '(15, 0)', {'f': 6}), ('(15, 0)', '(7, 0)', {'f': 3}), ('(15, 0)', '(40, 0)', {'f': 3}), ('(3, 0)', '(3, 1)', {'f': 114}), ('(3, 0)', '(4, 0)', {'f': 114}), ('(3, 1)', '(39, 0)', {'f': 9}), ('(3, 1)', '(36, 0)', {'f': 105}), ('(4, 0)', '(4, 0)', {'f': 114}), ('(4, 0)', '(7, 0)', {'f': 88}), ('(4, 0)', '(40, 0)', {'f': 26}), ('(47, 1)', '(56, 0)', {'f': 119})])

In [143]:
edge_df = pd.DataFrame(columns=['all', 'in', 'out', 'res', 'one', 'in_', 'out_', 'res_'])
for (u, v, wt) in one_scg.edges.data('f'):
    if wt > 2:
        if apache2_scg.has_edge(u, v):
            edge_df.loc[len(edge_df.index)] = [apache2_scg.edges[u, v]["f"], apache2_scg.in_degree(u),  apache2_scg.out_degree(v), apache2_scg.edges[u, v]["f"] / apache2_scg.in_degree(u),
                                               wt, one_scg.in_degree(u),  one_scg.out_degree(v), one_scg.edges[u, v]["f"] / one_scg.in_degree(u)]
            print(f'{ apache2_scg.edges[u, v]["f"] } One {wt}')

33395 One 12
169967 One 71
73613 One 34
228736 One 107
73613 One 34
736112 One 340
73613 One 34
73613 One 34
228744 One 107
460090 One 214
73613 One 34
73613 One 34
73613 One 34
294457 One 136
73499 One 34
73618 One 34
74177 One 34
243717 One 106
73414 One 34
230052 One 107
73500 One 34
73618 One 34
73618 One 34
10532 One 4
302238 One 140
73618 One 34
73587 One 34
230048 One 107
228744 One 107
230045 One 107
80089 One 37
73352 One 34
73586 One 34
73619 One 34
73467 One 34
73610 One 34
73611 One 34
4906 One 4
73611 One 34
73428 One 34

In [144]:
edge_df

         all    in   out            res    one  in_  out_        res_
0    33395.0   3.0   4.0   11131.666667   12.0  1.0   1.0   12.000000
1   169967.0   4.0   5.0   42491.750000   71.0  1.0   1.0   71.000000
2    73613.0   4.0   5.0   18403.250000   34.0  1.0   4.0   34.000000
3   228736.0   4.0   2.0   57184.000000  107.0  1.0   2.0  107.000000
4    73613.0   5.0   1.0   14722.600000   34.0  4.0   1.0    8.500000
5   736112.0   5.0   5.0  147222.400000  340.0  4.0   4.0   85.000000
6    73613.0   5.0   3.0   14722.600000   34.0  4.0   2.0    8.500000
7    73613.0   5.0   4.0   14722.600000   34.0  4.0   3.0    8.500000
8   228744.0   5.0   1.0   45748.800000  107.0  3.0   1.0   35.666667
9   460090.0   5.0   8.0   92018.000000  214.0  3.0   5.0   71.333333
10   73613.0   1.0   5.0   73613.000000   34.0  1.0   4.0   34.000000
11   73613.0   3.0   3.0   24537.666667   34.0  2.0   2.0   17.000000
12   73613.0   3.0   5.0   24537.666667   34.0  2.0   4.0   17.000000
13  294457.0   5.0   4.0   58891.400000  136.0  3.0   3.0   45.333333
14   73499.0   5.0  22.0   14699.800000   34.0  3.0   4.0   11.333333
15   73618.0   5.0   2.0   14723.600000   34.0  3.0   1.0   11.333333
16   74177.0  19.0  10.0    3904.052632   34.0  4.0   1.0    8.500000
17  243717.0  19.0  22.0   12827.210526  106.0  4.0   4.0   26.500000
18   73414.0  19.0   2.0    3863.894737   34.0  4.0   2.0    8.500000
19  230052.0   7.0   2.0   32864.571429  107.0  4.0   1.0   26.750000
20   73500.0   1.0   3.0   73500.000000   34.0  1.0   1.0   34.000000
21   73618.0   7.0   2.0   10516.857143   34.0  2.0   2.0   17.000000
22   73618.0   7.0   4.0   10516.857143   34.0  2.0   2.0   17.000000
23   10532.0   1.0  22.0   10532.000000    4.0  1.0   4.0    4.000000
24  302238.0   4.0   2.0   75559.500000  140.0  2.0   2.0   70.000000
25   73618.0   3.0   4.0   24539.333333   34.0  2.0   2.0   17.000000
26   73587.0   3.0   4.0   24529.000000   34.0  2.0   3.0   17.000000
27  230048.0   1.0   2.0  230048.000000  107.0  1.0   2.0  107.000000
28  228744.0   1.0   3.0  228744.000000  107.0  1.0   1.0  107.000000
29  230045.0   1.0   2.0  230045.000000  107.0  1.0   2.0  107.000000
30   80089.0   1.0   2.0   80089.000000   37.0  1.0   1.0   37.000000
31   73352.0   1.0   4.0   73352.000000   34.0  1.0   2.0   34.000000
32   73586.0   1.0   2.0   73586.000000   34.0  1.0   2.0   34.000000
33   73619.0   5.0   4.0   14723.800000   34.0  2.0   2.0   17.000000
34   73467.0   5.0   2.0   14693.400000   34.0  2.0   1.0   17.000000
35   73610.0   3.0   2.0   24536.666667   34.0  2.0   2.0   17.000000
36   73611.0   3.0   4.0   24537.000000   34.0  2.0   2.0   17.000000
37    4906.0   6.0   3.0     817.666667    4.0  2.0   2.0    2.000000
38   73611.0   2.0   4.0   36805.500000   34.0  2.0   2.0   17.000000
39   73428.0   2.0  22.0   36714.000000   34.0  2.0   4.0   17.000000

In [145]:
edge_df['all'].astype(int).nlargest(5)

5     736112
9     460090
24    302238
13    294457
17    243717
Name: all, dtype: int32

In [146]:
edge_df['res_'].astype(int).nlargest(5)

3     107
27    107
28    107
29    107
5      85
Name: res_, dtype: int32

In [110]:
edge_df['res'].astype(int).nlargest(5)

5     588889
9     276054
27    230048
29    230045
28    228744
Name: res, dtype: int32

In [50]:
edge_df[0] = edge_df[0] / edge_df[0].sum()
edge_df[1] = edge_df[1] / edge_df[1].sum()

In [51]:
edge_df.describe()

                0          1
count   16.000000  16.000000
unique  14.000000  13.000000
top      0.027262   0.051546
freq     3.000000   2.000000

In [14]:
edge_df[0].std()
edge_df[1].std()

0.011499586812322415

In [24]:
print(apache2_scg.edges['(2, 0)', '(3, 0)'])
print(one_scg.edges['(2, 0)', '(3, 0)'])
print(apache2_scg.edges['(3, 0)', '(3, 466)'])
print(one_scg.edges['(3, 0)', '(3, 466)'])

{'f': 122}
{'f': 1}
{'f': 12}
{'f': 1}

In [22]:
# èšé›†ç³»æ•°
print(nx.clustering(apache2_scg,'(2, 0)'))
print(nx.clustering(one_scg,'(2, 0)'))

0
0

In [23]:
print('2,0')
print('Out Degree')
print(apache2_scg.out_degree('(2, 0)'))
print(one_scg.out_degree('(2, 0)'))

print('In Degree')
print(apache2_scg.in_degree('(2, 0)'))
print(one_scg.in_degree('(2, 0)'))

Out Degree
4
1
In Degree
2
1

In [25]:
print('3,0')
print('Out Degree')
print(apache2_scg.out_degree('(3, 0)'))
print(one_scg.out_degree('(3, 0)'))

print('In Degree')
print(apache2_scg.in_degree('(3, 0)'))
print(one_scg.in_degree('(3, 0)'))

3,0
Out Degree
48
3
In Degree
45
2

In [2]:
scg = nx.read_graphml('K:/hids/GP_DATA_DIR/EPS_CWE-434/SCG/gs.xml')

In [3]:
scg.edges

OutEdgeView([('(7.0, 0.0)', '(11.0, 0.0)'), ('(11.0, 0.0)', '(13.0, 0.0)'), ('(13.0, 0.0)', '(14.0, -1.0)'), ('(13.0, 0.0)', '(13.0, 0.0)'), ('(13.0, 0.0)', '(42.0, 0.0)'), ('(13.0, 0.0)', '(17.0, 0.0)'), ('(13.0, 0.0)', '(12.0, 0.0)'), ('(13.0, 0.0)', '(3.0, 0.0)'), ('(13.0, 0.0)', '(4.0, -1.0)'), ('(13.0, 0.0)', '(26.0, 0.0)'), ('(14.0, -1.0)', '(14.0, -1.0)'), ('(14.0, -1.0)', '(4.0, 0.0)'), ('(14.0, -1.0)', '(12.0, 0.0)'), ('(4.0, 0.0)', '(16.0, 0.0)'), ('(4.0, 0.0)', '(12.0, 0.0)'), ('(4.0, 0.0)', '(40.0, 0.0)'), ('(4.0, 0.0)', '(13.0, 0.0)'), ('(16.0, 0.0)', '(17.0, 0.0)'), ('(16.0, 0.0)', '(12.0, 0.0)'), ('(16.0, 0.0)', '(44.0, 0.0)'), ('(16.0, 0.0)', '(25.0, 0.0)'), ('(16.0, 0.0)', '(27.0, 0.0)'), ('(16.0, 0.0)', '(2.0, 0.0)'), ('(16.0, 0.0)', '(23.0, 0.0)'), ('(17.0, 0.0)', '(3.0, 0.0)'), ('(17.0, 0.0)', '(17.0, 0.0)'), ('(17.0, 0.0)', '(18.0, 0.0)'), ('(17.0, 0.0)', '(14.0, -1.0)'), ('(17.0, 0.0)', '(22.0, 0.0)'), ('(17.0, 0.0)', '(4.0, 0.0)'), ('(17.0, 0.0)', '(12.0, 0.0)'), ('(17.0, 0.0)', '(13.0, 0.0)'), ('(17.0, 0.0)', '(26.0, 0.0)'), ('(3.0, 0.0)', '(14.0, -1.0)'), ('(3.0, 0.0)', '(17.0, 0.0)'), ('(3.0, 0.0)', '(43.0, 0.0)'), ('(3.0, 0.0)', '(4.0, 0.0)'), ('(3.0, 0.0)', '(12.0, 0.0)'), ('(3.0, 0.0)', '(3.0, 0.0)'), ('(3.0, 0.0)', '(4.0, -1.0)'), ('(3.0, 0.0)', '(13.0, 0.0)'), ('(3.0, 0.0)', '(23.0, 0.0)'), ('(3.0, 0.0)', '(26.0, 0.0)'), ('(3.0, 0.0)', '(16.0, 0.0)'), ('(3.0, 0.0)', '(11.0, 0.0)'), ('(12.0, 0.0)', '(16.0, 0.0)'), ('(12.0, 0.0)', '(12.0, 0.0)'), ('(12.0, 0.0)', '(3.0, 0.0)'), ('(12.0, 0.0)', '(4.0, -1.0)'), ('(12.0, 0.0)', '(13.0, 0.0)'), ('(12.0, 0.0)', '(4.0, 0.0)'), ('(12.0, 0.0)', '(17.0, 0.0)'), ('(12.0, 0.0)', '(23.0, 0.0)'), ('(12.0, 0.0)', '(25.0, 0.0)'), ('(12.0, 0.0)', '(45.0, 0.0)'), ('(12.0, 0.0)', '(26.0, 0.0)'), ('(18.0, 0.0)', '(17.0, 0.0)'), ('(18.0, 0.0)', '(18.0, 0.0)'), ('(18.0, 0.0)', '(26.0, 0.0)'), ('(18.0, 0.0)', '(3.0, 0.0)'), ('(18.0, 0.0)', '(12.0, 0.0)'), ('(18.0, 0.0)', '(4.0, -1.0)'), ('(22.0, 0.0)', '(18.0, 0.0)'), ('(26.0, 0.0)', '(28.0, 0.0)'), ('(26.0, 0.0)', '(26.0, 0.0)'), ('(26.0, 0.0)', '(16.0, 0.0)'), ('(26.0, 0.0)', '(13.0, 0.0)'), ('(26.0, 0.0)', '(3.0, 0.0)'), ('(26.0, 0.0)', '(12.0, 0.0)'), ('(28.0, 0.0)', '(8.0, 0.0)'), ('(28.0, 0.0)', '(12.0, 0.0)'), ('(8.0, 0.0)', '(9.0, 0.0)'), ('(9.0, 0.0)', '(9.0, 0.0)'), ('(9.0, 0.0)', '(29.0, 0.0)'), ('(29.0, 0.0)', '(30.0, 0.0)'), ('(30.0, 0.0)', '(13.0, 0.0)'), ('(42.0, 0.0)', '(42.0, 0.0)'), ('(42.0, 0.0)', '(4.0, 0.0)'), ('(43.0, 0.0)', '(4.0, 0.0)'), ('(40.0, 0.0)', '(40.0, 0.0)'), ('(40.0, 0.0)', '(16.0, 0.0)'), ('(44.0, 0.0)', '(12.0, 0.0)'), ('(4.0, -1.0)', '(13.0, 0.0)'), ('(4.0, -1.0)', '(4.0, -1.0)'), ('(4.0, -1.0)', '(23.0, -1.0)'), ('(4.0, -1.0)', '(12.0, 0.0)'), ('(4.0, -1.0)', '(4.0, 0.0)'), ('(4.0, -1.0)', '(23.0, 0.0)'), ('(4.0, -1.0)', '(17.0, 0.0)'), ('(4.0, -1.0)', '(16.0, 0.0)'), ('(25.0, 0.0)', '(16.0, 0.0)'), ('(25.0, 0.0)', '(12.0, 0.0)'), ('(25.0, 0.0)', '(3.0, 0.0)'), ('(25.0, 0.0)', '(25.0, 0.0)'), ('(25.0, 0.0)', '(17.0, 0.0)'), ('(25.0, 0.0)', '(13.0, 0.0)'), ('(23.0, 0.0)', '(12.0, 0.0)'), ('(23.0, 0.0)', '(27.0, 0.0)'), ('(23.0, 0.0)', '(4.0, 0.0)'), ('(23.0, 0.0)', '(23.0, 0.0)'), ('(23.0, -1.0)', '(4.0, -1.0)'), ('(23.0, -1.0)', '(3.0, 0.0)'), ('(27.0, 0.0)', '(23.0, 0.0)'), ('(27.0, 0.0)', '(3.0, 0.0)'), ('(45.0, 0.0)', '(17.0, 0.0)'), ('(2.0, 0.0)', '(3.0, 0.0)')])

In [4]:
for node in list(scg.predecessors('(11.0, 0.0)')):
    print(node)

(7.0, 0.0)
(3.0, 0.0)

In [18]:
sum_out = 0
for source_node in scg.nodes:
    # sum_out = 0
    for s,t,data in scg.out_edges(nbunch=source_node,data=True):
        f=data["f"]
        sum_out += f
print(f'sum_out {sum_out}')

for source_node in scg.nodes:
    for s,t,data in scg.out_edges(nbunch=source_node,data=True):
        f=data["f"]
        scg.add_edge(s,t,f=f,p=f/sum_out)

for source_node in scg.nodes:
    node_weight = 0
    for node in list(scg.predecessors(source_node)):
        f = scg[node][source_node]['f']
        p = scg[node][source_node]['p']
        node_weight += p
    scg.nodes[source_node]['Weight'] = node_weight
    print(f'{source_node} Weight {node_weight}')

sum_out 43073441
(7.0, 0.0) Weight 0
(11.0, 0.0) Weight 0.0004955954180674815
(13.0, 0.0) Weight 0.13109345037003195
(14.0, -1.0) Weight 0.02285190078034397
(4.0, 0.0) Weight 0.05853946054600096
(16.0, 0.0) Weight 0.09422390934590064
(17.0, 0.0) Weight 0.06406843604624018
(3.0, 0.0) Weight 0.058528688246662255
(12.0, 0.0) Weight 0.26725923754268904
(18.0, 0.0) Weight 0.04421095588810747
(22.0, 0.0) Weight 0.0004967330100235085
(26.0, 0.0) Weight 0.004935640038602905
(28.0, 0.0) Weight 0.0004966401453740368
(8.0, 0.0) Weight 0.0004966169292116689
(9.0, 0.0) Weight 0.0009932338584233379
(29.0, 0.0) Weight 0.0004966169292116689
(30.0, 0.0) Weight 0.0004966169292116689
(42.0, 0.0) Weight 0.0009932338584233379
(43.0, 0.0) Weight 0.0004966169292116689
(40.0, 0.0) Weight 0.0009932338584233379
(44.0, 0.0) Weight 0.0004966169292116689
(4.0, -1.0) Weight 0.15862728496662248
(25.0, 0.0) Weight 0.07632188011169111
(23.0, 0.0) Weight 0.00445952298076209
(23.0, -1.0) Weight 0.005948398689577645
(27.0, 0.0) Weight 0.0009912372684596988
(45.0, 0.0) Weight 0.0004949685816835484
(2.0, 0.0) Weight 0.0004932738018306919

In [20]:
for source_node in scg.nodes:
    w = scg.nodes[source_node]['Weight']
    print(f'{source_node} Weight {w}')

(7.0, 0.0) Weight 0
(11.0, 0.0) Weight 0.0004955954180674815
(13.0, 0.0) Weight 0.13109345037003195
(14.0, -1.0) Weight 0.02285190078034397
(4.0, 0.0) Weight 0.05853946054600096
(16.0, 0.0) Weight 0.09422390934590064
(17.0, 0.0) Weight 0.06406843604624018
(3.0, 0.0) Weight 0.058528688246662255
(12.0, 0.0) Weight 0.26725923754268904
(18.0, 0.0) Weight 0.04421095588810747
(22.0, 0.0) Weight 0.0004967330100235085
(26.0, 0.0) Weight 0.004935640038602905
(28.0, 0.0) Weight 0.0004966401453740368
(8.0, 0.0) Weight 0.0004966169292116689
(9.0, 0.0) Weight 0.0009932338584233379
(29.0, 0.0) Weight 0.0004966169292116689
(30.0, 0.0) Weight 0.0004966169292116689
(42.0, 0.0) Weight 0.0009932338584233379
(43.0, 0.0) Weight 0.0004966169292116689
(40.0, 0.0) Weight 0.0009932338584233379
(44.0, 0.0) Weight 0.0004966169292116689
(4.0, -1.0) Weight 0.15862728496662248
(25.0, 0.0) Weight 0.07632188011169111
(23.0, 0.0) Weight 0.00445952298076209
(23.0, -1.0) Weight 0.005948398689577645
(27.0, 0.0) Weight 0.0009912372684596988
(45.0, 0.0) Weight 0.0004949685816835484
(2.0, 0.0) Weight 0.0004932738018306919