In [1]:
import numpy as np
import pandas as pd
import json
import os
import zipfile
import pickle
import networkx as nx

In [2]:

with zipfile.ZipFile('K:/hids/dataSet/CWE-89-SQL-injection/test/normal/handsome_herschel_1484.zip', 'r') as zipped:
    with zipped.open('handsome_herschel_1484' + '.sc') as unzipped:
        df = pd.read_csv(unzipped, delim_whitespace = True, index_col=False, names = ['time','UserID', 'PID', 'ProcessName', 'TID', 'syscall', 'DIR', 'ARGS'])

,time,UserID,PID,ProcessName,TID,syscall,DIR,ARGS
0,1631043631854280356,33,1672460,apache2,1672460,poll,<,res=1
1,1631043631854282585,33,1672460,apache2,1672460,read,>,fd=10(<4t>172.20.0.3:56904->172.20.0.11:80)
2,1631043631854284551,33,1672460,apache2,1672460,read,<,res=579
3,1631043631854325118,33,1672460,apache2,1672460,stat,>,NaN
4,1631043631854345039,33,1672460,apache2,1672460,stat,<,res=0
...,...,...,...,...,...,...,...,...
158483,1631043676188163475,101,1672006,mysqld,1672317,io_getevents,>,NaN
158484,1631043676297873069,0,1672449,apache2,1672449,select,<,res=0
158485,1631043676297886188,0,1672449,apache2,1672449,wait4,>,NaN
158486,1631043676297898693,0,1672449,apache2,1672449,wait4,<,NaN
158487,1631043676297901004,0,1672449,apache2,1672449,select,>,NaN